@charset "UTF-8";
@charset "UTF-8";
@media(max-width:600px){
	html{
		font-size:80%;
		width:100%;
	}
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap');

*{
	font-family: 'Noto Sans KR', sans-serif;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
body{
	max-width:600px;
	width:100%;
	margin:0 auto;
}
footer{
	padding: 5px 0px;
	text-align:center;
	display:block;
	background-color: #E9ECEF;
	margin-top:0;
	font-size:0.7em;
}

ul{
	margin:0;
	padding:0;
	list-style:none;
}

img{
	vertical-align:bottom;
}
h1,h2,h3,h4,h5,span,a,p{
	margin:0;
	padding:0;
}
em{
	font-style:normal;
}
a{
	text-decoration:none;
	color:unset;
}

.header{
	height: 100%;
	background-color: #1DC800;
}

.header_tit{
	display:flex;
	width:100%;
	justify-content:space-between;
}

.logo{
	display:flex;
	font-size:1.0em;
}
.lnk_logo{
}
.spr_bi{
}
.ico_n_logo, .ico_bk_logo{
	line-height:32px;
	color:white;
}
.ico_n_logo>img{
	margin:6px;
	max-height:20px;
	max-width:20px;
}
.ico_bk_logo{
}
.btn_my{
	color:white;
	margin-left:auto;
	margin-right:3px;
}
.btn_back{
    vertical-align: bottom;
    display: inline-block;
    background-image: url(../img/backward_arr.png);
    border: none;
    position: absolute;
    left: 0.5em;
    top: 50%;
    transform: translateY(-50%);
    width: 2.0em;
    height: 1.5em;
    background-size: contain;
    background-repeat: no-repeat;
}
.viewReservation{
	line-height:32px;
}
.item img{
	width:100%;
}
.hide, .fade{
	display:none;
}

/* colors */
.light_gray{
	
}
.gray{
	color:#B4B4B4;
}
.heavy_gray{
	
}
.border_light_gray{
	border-color:#E5E8EA;
}

.green{
	
}

/*background image*/
.fn-image1{
	display:inline-block;
	width:1.0em;
	heigth:1.0em;
	background-image:url(https://img.icons8.com/material-outlined/48/000000/image.png)
}
