@charset "UTF-8";
html{
	width:100%;
}

body{
	max-width:600px;
	width:100%;
	margin:0 auto;
}
footer{
	padding: 5px 0px;
	text-align:center;
	display:block;
	background-color: #E9ECEF;
	margin-top:0;
	font-size:0.7em;
}

ul{
	margin:0;
	padding:0;
	list-style:none;
}


h1,h2,h3,h4,h5,span,a,p{
	margin:0;
	padding:0;
}

a{
	text-decoration:none;
	color:black;
}

.header{
	height: 100%;
	background-color: rgb(29,200,0);
}

.header_tit{
	display:flex;
	width:100%;
	justify-content:space-between;
}

.logo{
	display:flex;
	font-size:1.0em;
}
.lnk_logo{
}
.spr_bi{
}
.ico_n_logo, .ico_bk_logo{
	line-height:32px;
	color:white;
}
.ico_n_logo>img{
}
.ico_bk_logo{
}
.btn_my{
	margin-left:auto;
	margin-right:3px;
}
.viewReservation{
	line-height:32px;
}
.event{
	display:block;
	width:100%;
	overflow:hidden;
}
.section_visual{
}

.visual_img{
	transition:1s;
	animation:slide 8s infinite;
	display:flex;
}
.visual_img .item{
	display:flex;
	width:100%;
	max-height:300px;
}

.section_event_tab{
}
ul.event_tab_lst{
	height:100%;
	padding: 10px 0 10px 0;
	display:flex;
	justify-content: space-around;
	font-size:1em;
	border-bottom: 2px solid gray;
}
.event_tab_lst .item{
}
.anchor{
	cursor:pointer;
	padding: 10px 0 10px 0;
}
.active{
	color: rgb(29,200,0);
	border-bottom:2px solid rgb(29,200,0);
}

.section_event_lst{
	width:100%;
}
.event_lst_txt{
	text-align: center;
	margin:5px 0 5px;
}
.pink{
	color:red;
	font-weight:bold;
}
.wrap_event_box{
	background-color: #E9ECEF;
	width:100%;
	height:100%;
	display:flex;
}
.lst_event_box{
	margin:5px auto;
	display:flex;
	flex-flow:column wrap;
	width:49%;
}
.lst_event_box .item{
	width:100%;
	background-color: white;
	flex-grow:2;
}
.item_book{
	
}
.item_preview{
	
}
.img_thumb{
	
}
.wrap_event_box .event_txt{
	padding:1.0em 3px;
}
.event_txt_tit{
	font-size:1.0em;
}
.sm{
	display:block;
}
.event_txt_dsc{
	color: #B4B4B4;
	display: block;
	overflow: hidden; 
	text-overflow: ellipsis; 
	white-space: normal; 
	line-height: 1; 
	word-wrap: break-word; 
	display: -webkit-box; 
	-webkit-line-clamp: 2; 
	-webkit-box-orient: vertical;
}
.more{
	clear:both;
	text-align:center;
	background-color: #E9ECEF;
}
.btn{
	width:98%;
	font-size:0.6em;
	background-color: white;
	border:1px solid gray;
}
.footer{
	color:#C8CACB;
}
.gototop{
	padding:5px 0px;
	font-size:0.7em;
	background-color: #E9ECEF;
	text-align:center;
}
.lnk_top{
	
}
.lnk_top_txt{
	font-size:20px;
}
.dsc_footer{
}
.copyright{
	
}
/* .info{
	position:absolute;
	top:100px;
	left:30px;
	z-index:9999;
	color:#ffffff;
}
.cnt_row{
	margin:15px auto;
	text-align:center;
}
.promotion_content>img{
	width:100%;
	height:100%;
}
.product_li{
}
.main_content{
	max-width:100%;
	margin:-1px;
	padding:0;
	border:1px solid #EEEEEA;
	background-color:#ffffff;
}
.main_img{
	border-bottom:2px solid #EEEEEA;
}
.main_img>img{
	width:100%;
}
.on{
	color:#00FF00;
	border-bottom:2px solid #00FF00;
}
.description{
	padding: 10px 10px;
	border-bottom:1px solid #EEEEEA;
}
.content{
	margin:15px 10px;
	display: block;
	overflow: hidden; 
	text-overflow: ellipsis; 
	white-space: normal; 
	line-height: 1; 
	word-wrap: break-word; 
	display: -webkit-box; 
	-webkit-line-clamp: 2; 
	-webkit-box-orient: vertical;
}
#gnb{
	display:flex;
	justify-content:space-between;
	width:100%;
	height:100%;
	background-color: #00CC00;
}
#login{
	text-decoration:none;
	margin-right:15px;
	height:32px;
	line-height:32px;
}
#login>a{
	text-decoration:none;
	color:#000000;
}
#promotion{
	height:300px;
	overflow:hidden;
}
#promotion>ul{
	height:100%;
	transition:1s;
	display:flex;
	animation:slide 8s infinite;
}
#tab_menu{
	width:100%;
	border-bottom:1px solid #EEEEEA;
}
#tab_menu>ul{
	display:flex;
	justify-content: space-around;
	font-size:1.2em;
}
#tab_menu>ul>li:hover{
	cursor:pointer;
	border-bottom:2px solid #00FF00;
}
#cnt{
	font-weight:bold;
	color:red;
}
#product_container{
	display:flex;
	width:100%;
	background-color:#EAEAEA;
}
#container:after{
	width:100%;
	content:"";
	display:block;
	clear:both;
}
#left_container{
	width:50%;
}
#right_container{
	width:50%;
}
#container img {
	width:100%;
}
}
#more_btn{
	align:center;
	width:100%;
	display:block;
	clear:both;
}
#more_btn>button{
	width:100%;
	background-color:#FFFFFF;
	border:1px solid #708080;
	line-height:50px;
}
#go_top{
	display:block;
	margin:20px 0;
	width:100%;
	text-align:center;
} */